<div class="container-fluid">
    <h1>Scheme Master</h1>
    <div class="row">
        <mat-card>
            <div class="form-group"> 
                <img src="{{getProfilePic()}}" alt="image" class="col-2" style="width: 80px; height:35px">
                <label class="col-2">Room No : <span *ngIf="ifLoaded"> {{tenantList.roomNo}} </span></label>
                <label class="col-4">Tenant :  <span *ngIf="ifLoaded"> {{tenantList.name}}</span></label>
            </div>
        </mat-card>

    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <mat-form-field appearance="outline">
                <mat-label>Discount</mat-label>
                <input matInput placeholder="Enter Discount(Amount)"  id="name" name="name">
            </mat-form-field>
        </div>
        <div class="col-2 mt-2">
            <button mat-raised-button (click)="addScheme()">Add Schemes</button>
        </div>
    </div>
    <!-- <div class="row">
        <mat-card>
            <div class="form-group">
                <label class="col-2">Room No : <span> 1 </span></label>
                <label class="col-2">Tenant : <span> Shrikant Ghuge</span></label>
            </div>
        </mat-card>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            <mat-form-field appearance="outline">
                <mat-label>Discount</mat-label>
                <input matInput placeholder="Enter Discount(Amount)"  id="name" name="name">
            </mat-form-field>
        </div>
        <div class="col-2 mt-2">
            <button mat-raised-button (click)="addScheme()">Add Scheme</button>
        </div>
    </div> -->
    
</div>